

<!-- <div class="example-tooltip-host" matTooltip="Tooltip!" [matTooltipPosition]="position">
  <span>Show tooltip</span>
  <br>
  <mat-form-field>
    <mat-select class="example-select" [(ngModel)]="position" >
      <mat-option value="before">Before</mat-option>
      <mat-option value="after">After</mat-option>
      <mat-option value="above">Above</mat-option>
      <mat-option value="below">Below</mat-option>
      <mat-option value="left">Left</mat-option>
      <mat-option value="right">Right</mat-option>
    </mat-select>
  </mat-form-field>
</div> -->

<mat-card class="card1">
  <mat-card-header>
    <mat-card-title><h1>Tooltip Demo</h1></mat-card-title>
  </mat-card-header>
  <hr>
  <br>
  <mat-card-content>
    <span matTooltip="This is the Tooltip!">This text has a tooltip!</span>
  </mat-card-content>
</mat-card>

